.courseworkContainer {
  padding-top: 1rem;
}

.sectionHeader {
  font-family: Montserrat;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.sectionHeader h3 {
  margin: 0 0 0 1rem;
}

.sectionContent {
  margin-top: 1.5rem;
  width: calc(100% - 1.5rem);
  align-self: flex-end;
}

.bgOverlayDark {
  position: absolute;
  width: calc(100% + 2rem);
  height: 100%;
  left: -1rem;
  top: 0;
  background-color: black;
  opacity: 0.3;
}
.bgOverlayLight {
  position: absolute;
  width: calc(100% + 2rem);
  height: 100%;
  left: -1rem;
  top: 0;
  background-color: black;
  opacity: 0.1;
}

.hidden {
  display: none;
}
