.container {
  position: absolute;
  top: 40vh;
  width: 100%;
  min-width: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textSection {
  text-align: center;
  width: 60%;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 72px;
  margin: 1rem 0;
  /* NEW */
  /* height: 100%; */
}

@media screen and (max-width: 1200px) {
  .textSection {
    font-size: 64px;
    width: 60%;
  }
}
@media screen and (max-width: 980px) {
  .textSection {
    font-size: 54px;
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .textSection {
    font-size: 48px;
    width: 90%;
  }
}
@media screen and (max-width: 380px) {
  .textSection {
    font-size: 42px;
    width: 96%;
  }
}
@media screen and (max-width: 420px) and (max-height: 740px) {
  .textSection {
    font-size: 32px;
    width: 96%;
  }
  .container {
    top: 50vh;
  }
}

@media screen and (orientation: landscape) and (max-width: 830px) and (max-height: 550px) {
  .container {
    bottom: 0.5rem;
  }
  .textSection {
    width: 96%;
    font-size: 34px;
  }
}

@media screen and (orientation: landscape) and (max-width: 740px) and (max-height: 420px) {
  .container {
    bottom: 1.5rem;
  }
}

@media screen and (orientation: landscape) and (max-width: 660px) and (max-height: 320px) {
  .container {
    bottom: 1.1rem;
  }
  .textSection {
    width: 96%;
    font-size: 28px;
    margin: 0;
  }
}

/* @media screen and (orientation: landscape) and (max-width: 570px) and (max-height: 330px) {
  .container {
    bottom: 1.1rem;
  }
  .textSection {
    width: 96%;
    font-size: 28px;
    margin: 0;
  }
} */
