.container {
  /* border: 2px solid red; */
  position: absolute;
  top: 55vh;
  width: 100%;
  color: white;
  font-family: Josefin Sans;
  display: flex;
  justify-content: center;
}

.textSection {
  /* border: 1px solid green; */
  text-align: center;
  width: 60%;
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 64px;
}

@media screen and (max-width: 960px) {
  .textSection {
    font-size: 56px;
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .textSection {
    font-size: 44px;
    width: 80%;
  }
}
@media screen and (max-width: 360px) {
  .textSection {
    font-size: 32px;
    width: 96%;
  }
  .container {
    top: 70vh;
  }
}
