.sectionHeader {
  margin: 3rem 0 -1rem 0;
  font-family: Montserrat;
  font-size: 1.4rem;
}

.container {
  position: relative;
  padding: 1rem;
}

.container a {
  text-decoration: none;
  font-weight: 600;
}

.themeSwitchContainer {
  position: absolute;
  right: 0;
  top: 0.5rem;
}
