.container {
  position: relative;
  padding: 2rem;
  background-color: #121212;
}

.container a {
  text-decoration: none;
  font-weight: 600;
}

.container section {
  z-index: 10;
}

.themeSwitchContainer {
  position: absolute;
  right: 0;
  top: 0.5rem;
}

.sectionContainer {
  position: relative;
}
.sectionContainer h3 {
  transition: 0.3s linear;
}

.sectionContainer:hover h3 {
  transform: scale(1.05);
}
.sectionContainer:hover svg {
  transform: scale(1.15);
}
