.subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin: -1.5rem 0 0 0;
  font-family: "Open Sans";
}

.subheaderContent {
  margin: 0;
  flex-grow: 1;
  display: flex;
  align-items: baseline;
  font-family: "Open Sans";
}
.subheaderContent p {
  margin-left: 1rem;
}

.links {
  display: flex;
  align-items: center;
  margin: 0; /* set margin when wrap occurs with media queries. */
}

.detail {
  font-weight: 300;
}
