.subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin: -1.5rem 0 0 0;
  font-family: "Open Sans";
}

.subheaderContent {
  margin: 0;
  flex-grow: 1;
  display: flex;
  align-items: baseline;
  font-family: "Open Sans";
}
.subheaderContent p {
  margin-left: 1rem;
}

.links {
  display: flex;
  align-items: center;
  margin: 0;
  width: 10rem;
  justify-content: space-between;
}

.detail {
  font-weight: 300;
}

/* DARK MODE STYLING */
/* DarkMode Blue - #90caf9 */

.linkDark {
  font-size: 14px;
  width: 4.5rem;
  height: 1.5rem;
  text-align: center;
  font-weight: 400 !important;
  color: #90caf9 !important;
  padding: 2px;
  position: relative;
  border: none;
  z-index: 2;
}

.linkDark:before,
.linkDark:after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  border: 1px solid #90caf9;
  z-index: -1;
  transition: all 0.3s ease;
}

.linkDark:before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #90caf9;
  border-left-color: #90caf9;
}

.linkDark:after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #90caf9;
  border-right-color: #90caf9;
}

.linkDark:hover:before,
.linkDark:hover:after {
  border-color: #90caf9;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 4px #90caf9, 0 0 4px #90caf9 inset;
}

/* LIGHT MODE STYLING */
/* LightMode Blue - #0069c0 */
.linkLight {
  font-size: 14px;
  width: 4.5rem;
  height: 1.5rem;
  text-align: center;
  font-weight: 400 !important;
  color: #0069c0 !important;
  padding: 2px;
  position: relative;
  border: none;
  z-index: 2;
}

.linkLight:before,
.linkLight:after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  border: 1px solid #0069c0;
  z-index: -1;
  transition: all 0.3s ease;
}

.linkLight:before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #0069c0;
  border-left-color: #0069c0;
}

.linkLight:after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #0069c0;
  border-right-color: #0069c0;
}

.linkLight:hover:before,
.linkLight:hover:after {
  border-color: #0069c0;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 4px #0069c0, 0 0 4px #0069c0 inset;
}
