.resumeContainer {
  display: flex;
  justify-content: center;
}

.root {
  padding: 1rem;
  color: #333; /* May need to change to #0c0c0d? */
  margin-top: 6rem;
  width: 90%;
  position: relative; /* Allows theme switch to be positioned in upper-right corner */
}
