/* THEME COLORS */ /* 
    LIGHT
      Background - #e1e1e1
      Background (Paper) - #f7f7f7
      Blue - #2196f3 (for theme switch)
      Black (text-primary) - #222222
      Dark Grey (text-secondary) - #3b3b3b

    Dark
      Background - #0c0c0d
      Background (Paper) - #212121
      Blue - #00b0ff / rgba(0, 176, 255, 1)
      White (text-primary) - #f7f7f7
      Light Grey (text-secondary) - #e1e1e1 OR #cfcfcf
*/

.resumeContainer {
  display: flex;
  justify-content: center;
}

.resumeContainer {
  /* overflow: scroll !important; */
}

.paperRoot {
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  position: relative; /* Allows theme switch to be positioned in upper-right corner */
  overflow-x: hidden;
  /* overflow-y: scroll !important; */
}

.paperLight {
  background-color: #f7f7f7 !important;
  color: #000 !important;
  transition: color 1s linear;
}
.paperDark {
  background-color: #1e1e1e !important;
  color: rgba(255, 255, 255, 0.87) !important;
  transition: color 1s linear;
}
