.divider {
  width: calc(100% + 4rem);
  position: relative;
  right: 1rem;
  height: 0.1px;
}

.dividerLight {
  background-color: #0069c0 !important;
  box-shadow: 0 0 2px 0.25px #2196f3 !important;
}

.dividerDark {
  background-color: #2196f3 !important;
  box-shadow: 0 0 4px 0.5px #6ec6ff !important;
}
