.container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.25rem;
  width: 100%;
  /* border: 1px solid green; */
}

.skillTitle {
  font-family: "Open Sans";
  font-weight: 600;
  width: 15%;
}

.progressContainer {
  width: 85%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  position: relative;
}

.progressBg {
  position: absolute;
  width: 100%;
  height: 0.25rem;
  background-color: rgba(33, 150, 243, 1);
}

.progressOverlay {
  position: absolute;
  height: 0.5rem;
  background-color: rgba(33, 150, 243, 0.5);
}
