.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.textContainer {
  width: 85%;
  height: 80%;
  display: flex;
  justify-content: space-between;
}
.spacer {
  width: 5%;
}
.column {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shortAbout {
  font-size: 48px;
  margin: 0;
  text-align: right;
}

.longAbout {
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .textContainer {
    width: 95%;
  }
  .container {
    position: absolute;
    top: 15rem;
  }
}
@media screen and (max-width: 400px) {
  .textContainer {
    width: 98%;
  }
  .shortAbout {
    font-size: 40px;
  }

  .longAbout {
    font-size: 19px;
  }
}

@media screen and (max-height: 740px) and (max-width: 420px) {
  .shortAbout {
    font-size: 36px;
  }
}
@media screen and (max-height: 650px) and (max-width: 365px) {
  .container {
    top: 12rem;
  }
  .shortAbout {
    font-size: 30px;
  }
  .longAbout {
    font-size: 16px;
  }
}
