.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  /* border: 1px solid red; */
}

.iconContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  min-width: 280px;
  /* border: 1px solid yellow; */
}

.item {
  /* border: 1px solid green; */
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.muiIcon {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 130px !important;
}
.muiIcon path {
  stroke-dasharray: 120;
  stroke-dashoffset: 140;
  stroke-width: 0.5px;

  stroke: #fff;
  fill: transparent;
}
.item p {
  font-weight: 600;
  font-size: 15px;
  font-family: Open Sans;
  text-align: center;
}

/* SVG ANIMATIONS */
.speedIcon path {
  animation: draw 2s linear 1s forwards;
}
.graphIcon path {
  animation: draw 2s linear 2s forwards;
}
.starIcon path {
  animation: draw 2s linear forwards;
}
.heartIcon path {
  animation: draw 2s linear 3s forwards;
  /* animation: dash 2s linear 3s forwards; */
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 190;
  }
}
@media screen and (max-width: 1200px) {
  .iconContainer {
    width: 85%;
  }
}
@media screen and (max-width: 900px) {
  .iconContainer {
    width: 90%;
  }
}
@media screen and (max-width: 700px) {
  .iconContainer {
    width: 95%;
  }
  .muiIcon {
    font-size: 110px !important;
  }
}
@media screen and (max-width: 600px) {
  .muiIcon {
    font-size: 64px !important;
  }
}
@media screen and (max-width: 400px) {
  .muiIcon {
    font-size: 50px !important;
  }
  .item p {
    font-weight: 600;
    font-size: 14px;
  }
}
