.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.textContainer {
  width: 85%;
  display: flex;
  justify-content: space-around;
  position: relative;
  /* border: 1px solid green; */
}
.spacer {
  width: 5%;
  height: 100%;
  /* border: 1px solid red; */
}
.column {
  width: 50%;
  height: 100%;
  font-family: Josefin Sans;
  /* border: 1px solid blue; */
}

.shortAbout {
  /* border: 1px solid orange; */
  font-size: 38px;
  margin: 0;
  text-align: right;
  position: relative;
}

.longAbout {
  /* border: 1px solid yellow; */
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}

@media screen and (max-width: 600px) {
  .textContainer {
    width: 95%;
  }
  .container {
    position: absolute;
    top: 15rem;
  }
}
@media screen and (max-width: 400px) {
  .textContainer {
    width: 98%;
  }
  .shortAbout {
    font-size: 40px;
  }

  .longAbout {
    font-size: 19px;
  }
}

@media screen and (max-height: 740px) and (max-width: 420px) {
  .shortAbout {
    font-size: 36px;
  }
}
@media screen and (max-height: 650px) and (max-width: 365px) {
  .container {
    top: 12rem;
  }
  .shortAbout {
    font-size: 30px;
  }
  .longAbout {
    font-size: 14px;
  }
}
