.container {
  position: absolute;
  width: 100vw;
  height: 10vh;
  bottom: 1rem;
  /* bottom: offset; */
  display: flex;
  justify-content: center;
}

.arrowContainer {
  z-index: 20;
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  animation: arrow-movement 2s ease-in-out infinite;
}
.subtext {
  color: white;
  margin-bottom: -0.5rem;
  width: 100vw;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  /* border: 1px solid white !important; */
  z-index: 1;
}

.iconBtnRoot {
  color: white !important;
  width: 3.5rem;
  height: 3.5rem;
  z-index: 2;
}
.iconBtnRoot:hover {
  background-color: transparent !important;
}

@media screen and (max-width: 600px) {
  .arrowContainer {
    width: 50%;
  }
}

@media screen and (orientation: landscape) and (max-width: 660px) and (max-height: 300px) {
  .container {
    height: 15vh !important;
    bottom: 5rem !important;
    border: 2px solid green !important;
  }
}

@keyframes arrow-movement {
  0% {
    top: 0;
  }
  50% {
    top: 0.5rem;
  }
  100% {
    top: 0;
  }
}
