.arrowContainer {
  z-index: 2;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  position: absolute;
  animation: arrow-movement 2s ease-in-out infinite;
}

.iconBtnRoot {
  color: white !important;
  width: 3.5rem;
  height: 3.5rem;
  z-index: 2;
}
.iconBtnRoot:hover {
  background-color: transparent !important;
}

@keyframes arrow-movement {
  0% {
    top: 0;
  }
  50% {
    top: -0.5rem;
  }
  100% {
    top: 0;
  }
}

@media screen and (max-width: 850px) {
  .arrowContainer {
    height: 3rem;
    width: 50%;
  }
}
