.projectCard {
  position: relative;
  width: 440px;
  height: 240px;
  display: inline-block;
  margin: 0.5rem;
}
.projectCard:hover {
  cursor: pointer;
}

.contentContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 0 1rem 0.5rem;
  height: 12rem;
  z-index: 1;
}

/* BACKGROUND CLASSES */
.ecommerceBackground {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../../../assets/images/ecommerce_front.png);
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.ecommerceBackground:hover {
  animation: hide-bg 0.5s;
  animation-fill-mode: forwards;
}
/* END BACKGROUND CLASSES */

.links {
  font-family: Josefin Sans;
  color: #0c0c0d;
  width: 100%;
  height: 100%;
  font-size: 30px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.fadeInLinks {
  animation: fade-in-links 2s;
}

.linkContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #0c0c0d;
}
.link:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

@keyframes hide-bg {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in-links {
  0% {
    opacity: 0;
  }
  99.999% {
    z-index: 3;
  }
  100% {
    opacity: 1;
    z-index: 4;
  }
}

@media screen and (max-width: 1440px) {
  .projectCard {
    width: 410px;
    height: 225px;
  }
}
@media screen and (max-width: 890px) {
  .projectCard {
    width: 370px;
    height: 215px;
    margin: 0.5rem auto;
  }
}
@media screen and (max-width: 820px) {
  .projectCard {
    width: 340px;
    height: 200px;
  }
}

@media screen and (max-width: 750px) {
  .projectCard {
    height: 180px;
  }
}

@media screen and (max-width: 600px) {
  .projectCard {
    width: 310px;
  }
}
@media screen and (max-width: 500px) {
  .projectCard {
    width: 290px;
    height: 175px;
  }
}
