.container {
  width: 100%;
  /* min-width: 300px; */
  height: 2rem;
  background: #ddd;
  display: flex;
  align-items: center;
  border-radius: 2% 2% 0 0;
  position: absolute;
  top: 0;
  left: 0;
}

.btnContainer {
  display: flex;
  width: 100%;
  margin-left: 1rem;
}

.button {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  margin: 0 0.2rem;
}

.close {
  background: #ff5f57;
}
.minus {
  background: #ffbd2e;
}
.expand {
  background: #28ca41;
}

.linkContainer {
  /* margin: 0; */
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  margin-right: 1rem;
}

.link {
  white-space: nowrap;
  text-decoration: none;
  color: #0c0c0d;
}
.link:hover {
  text-decoration: underline;
}

.iconLink {
  margin-left: 0.8rem;
}

.iconBtnRoot {
  color: rgba(0, 0, 0, 0.89);
}
.iconBtnRoot:hover {
  color: rgba(0, 0, 0, 1);
}
