.scrollbar {
  width: 65vw;
  height: 75vh;
  position: relative;
  top: 4rem;
  background-color: #3a3a3a;
  border-radius: 5px;
}

.container {
  padding: 0 0.5rem;
  max-width: 1240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
