.container {
  width: 32%;
  min-width: 18rem;
}
.projectCard {
  /* padding: 1rem; */
  position: relative;
}
.cardTitle {
  color: #0c0c0d !important;
  text-align: left !important;
  margin-top: 2rem !important;
  font-family: Josefin Sans;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 0 1rem 0.5rem;
}
/* 
.linkContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.iconLink {
  margin-right: 0.5rem;
} */

.cardContent {
  font-family: Josefin Sans;
}

.ecommerceBackground {
  background-image: url(../../../assets/images/ecommerce_card.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  /* position: absolute; */
  /* width: 100%; */
  /* height: 100%; */
}
