.homeContainer {
  height: 100vh;
  background-image: url(../../assets/images/vscode_background.png);
  background-position: center;
  background-size: cover;
}

.bgOverlay {
  z-index: 10;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgba(21, 21, 21, 0.8);
}

.hidden {
  display: none;
}
