.container {
  height: 100%;
  width: 100%;
  background-image: url(../../assets/images/vscode_background.png);
  background-position: center;
  background-size: cover;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(21, 21, 21, 0.8);
}

.bgOverlay {
  position: relative;
}
