.container {
  /* height: 100vh;
   PREV VALUES
  width: 100vw; */

  height: 100%;
  width: 100%;
  background-color: #2a2a2a;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* overflow-x: hidden;
  overflow-y: hidden; */
}

.container h1 {
  position: absolute;
  font-size: 48px;
  top: 5rem;
  font-family: Montserrat;
  margin: 0;
  color: white;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .container h1 {
    font-size: 40px;
  }
}
