.container {
  transform: translateZ(0px);
  z-index: 60 !important;
}

/* SPEED DIAL */
.speedDial {
  margin: 1.5rem 1rem 0 0;
}

.fab {
  height: 3rem !important;
  width: 3rem !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
}

/* SPEED DIAL ICON */
.speedDialIconRoot {
  height: 100% !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backdropRoot {
  background-color: transparent !important;
}
.speedDialIcon {
  color: #0c0c0d;
  font-size: 42px !important;
}

.speedDialOpen {
  width: 100% !important;
  height: 100% !important;
  border-radius: 50%;
}

/* SPEED DIAL ACTIONS */
.actionFab {
  background-color: rgba(255, 255, 255, 0.5) !important;
  padding: 1.75rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.25rem !important;
  width: 3.25rem !important;
  z-index: 200;
}

.actionFab:hover {
  transition: 0.3s;
  background-color: white !important;
}

.tooltip {
  padding: 0;
  width: 7rem;
  background-color: rgba(255, 255, 255, 1) !important ;
  /* z-index: 100; */
}
.tooltip-hover {
  background-color: white !important;
}
.tooltipTitle {
  font-family: Open Sans;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  margin: 0;
}
.link {
  color: #0c0c0d;
  height: 35px;
  transition: color 0.3s ease-in-out;
}
.linkedInLink:hover {
  color: rgba(14, 118, 168, 1);
}
.githubLink:hover {
  color: rgba(36, 42, 46, 1);
}

@media screen and (max-width: 400px) {
  .speedDial {
    margin: 0.5rem 0 0 0;
  }
  .actionFab {
    background-color: rgba(255, 255, 255, 1) !important;
  }
}

@media screen and (max-width: 820px) and (max-height: 450px) {
  .speedDial {
    margin: 0.5rem 0.2rem 0 0;
  }
}
