.myName {
  margin: 1.5rem 0 0 1rem;
  color: white;
  font-family: Open Sans;
  font-size: 32px;
  z-index: 15;
}

@media screen and (max-width: 600px) {
  .myName {
    margin: 1rem 0 0 0.5rem;
    font-size: 26px;
  }
}
@media screen and (max-width: 400px) {
  .myName {
    margin: 0.5rem 0 0 0.5rem;
  }
}
