.adidas {
  z-index: 12;
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
  height: 20px;
  width: 34.33px;
}

.stripes {
  z-index: 10;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fafafa;
  background-color: transparent;
  overflow: hidden;
  margin: 0 auto;
}

.stripe {
  height: 100%;
  width: 20%;
  background: #c0c0c0;
  -webkit-transform: rotate(329deg);
  -moz-transform: rotate(329deg);
  -o-transform: rotate(329deg);
  writing-mode: lr-tb;
  position: absolute;
}

.stripeSm {
  top: 72%;
  left: 23.5%;
}

.stripeMd {
  top: 51%;
  left: 42%;
}

.stripeLg {
  top: 30%;
  left: 62.62%;
}
