.nose {
  z-index: 5;
  height: 22.5px;
  width: 12px;
  position: absolute;
  top: 50%;
  left: calc(50% - 0.5625rem);
  border: 2px solid #674e21;
  border-color: transparent transparent #674e21 #674e21;
  border-radius: 0 10px 10px; /* Did not change size */
  transform: rotate(9deg);
}
