.teeth {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20% 20% 100% 100%;
}

.teethContainer {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.teethContainer div {
  width: 0.5175rem;
  border: 0.1px solid rgba(200, 200, 200, 0.2);
  border-radius: 0 0 2px 2px;
}

.upperTeeth div {
  border-top: none;
}

.lowerTeeth div {
  margin-top: 2px;
  border-bottom: none;
}
